
**/__pycache__
**/pytest_cache/*

**/.editorconfig

**/migrations/*
!**/migrations/__init__.py

**/logs/
**/stats_log/


*/media/

smarterwms/settings.py
authorization.txt
authorization.json
db.sqlite3
.idea/
delete.py
*.xlsx





front/templates/dist/
front/node_modules/
