node_modules/

__pycache__/

stats_log/*

*/migrations/*
!*/migrations/__init__.py

media/

#smarterwms/settings.py
authorization.txt
authorization.json
db.sqlite3
.idea/
delete.py
*.xlsx
venv/
logs/

templates/dist/
